---
import Layout from '../layouts/Layout.astro';
---

<Layout title='PFM Coders'>
	<main>
		<h2>About</h2>
		<p>
			The COPS is a community of passionate coders involved in developing
			zero-cost public financial management (PFM) digital solutions using
			open-source licenses as a charity. It is an international community that
			includes university students and fresh graduates mentored by experienced
			PFM professionals. The community is committed to creating open-source
			software solutions for PFM. COPS believes software should be freely
			available for anyone to use and improve upon. The COPS are driven by a
			belief that technology can be a powerful tool for bringing transparency
			and accountability in utilizing public funds and enhancing public trust in
			democratic institutions. The community prioritizes assisting fragile and
			low-capacity environments where developing and implementing innovative
			solutions face more enormous obstacles due to low-capacity settings.
		</p>

		<!--  -->
		<h2>Why Join COPS?</h2>
		<p>
			By joining COPS, you can collaborate with like-minded individuals from
			different parts of the world, learn from experienced developers, and gain
			valuable experience working on real-world projects that can make a
			difference in public servants' lives. Additionally, members can build
			their portfolios by contributing to open-source software solutions,
			showcase their skills, and positively impact society. Being a part of COPS
			can also help IT professionals and students stay up-to-date with the
			latest trends and innovations in PFM and expand their knowledge and
			expertise.
		</p>

		<!--  -->
		<h2>Who can join COPS?</h2>
		<p>
			The community welcomes members with a diverse range of skills and
			expertise. IT professionals, students, business analysts, PFM
			professionals, data scientists, and anyone with coding skills who are
			interested in contributing to open-source software solutions for PFM can
			join COPS.
		</p>

		<!--  -->
		<h2>Contact Us</h2>
		<p>
			If you are working for the public sector and struggling to find a PFM
			digital solution for a specific PFM problem. Please reach out to us at
			contact@pfmcoders.org
		</p>
	</main>
</Layout>
