<div class='py-4 bg-blue-600'>
	<div class='flex justify-between place-items-end mx-auto max-w-6xl'>
		<a class='text-3xl font-semibold text-white' href='/'>PFM Coders</a>
		<a class='button' href='/'>Contact Us</a>
	</div>
</div>
